<%# DEPRECATED: Use components/dropdown_menu instead %>
<%#
  This partial is deprecated and will be removed in a future version.
  
  Migration:
  
  OLD (this partial):
    <%= render "components/dropdown" do %>
      <div class="dropdown-menu-item">Item</div>
    <% end %>
  
  NEW (dropdown_menu component):
    <%= render "components/dropdown_menu" do %>
      <%= render "components/dropdown_menu/trigger" do %>Options<% end %>
      <%= render "components/dropdown_menu/content" do %>
        <%= render "components/dropdown_menu/item", href: "#" do %>Item<% end %>
      <% end %>
    <% end %>
  
  OR using the helper:
    <%= dropdown_menu do |menu| %>
      <% menu.trigger { "Options" } %>
      <% menu.content do %>
        <% menu.item "Item", href: "#" %>
      <% end %>
    <% end %>
%>
<div
  class="
    absolute z-10 overflow-hidden border border-border p-1 text-popover-foreground
    min-w-56 max-w-56 content-fit shadow-md bottom-full rounded-lg hidden
    peer-data-[state=closed]/menu-button:animate-out
    peer-data-[state=closed]/menu-button:fade-out-0
    peer-data-[state=open]/menu-button:fade-in-0
    peer-data-[state=closed]/menu-button:zoom-out-95
    peer-data-[state=open]/menu-button:zoom-in-95
    peer-data-[side=bottom]/menu-button:slide-in-from-top-2
    peer-data-[side=left]/menu-button:slide-in-from-right-2
    peer-data-[side=right]/menu-button:slide-in-from-left-2
    peer-data-[side=top]/menu-button:slide-in-from-bottom-2
  "
  role="menu"
  aria-orientation="vertical"
  aria-labelledby="menu-button"
  tabindex="-1"
>
  <%= yield %>
</div>
