<%# locals: (title: nil, title_action: {}, menu: []) -%>
<%- title ||= nil -%>
<%- title_action ||= {} -%>
<%- menu ||= [] -%>

<div class="relative flex w-full min-w-0 flex-col p-2">
  <% if title.present? %>
    <div
      class="
        duration-200 flex h-8 shrink-0 items-center rounded-md px-2 text-xs font-medium
        text-sidebar-foreground/70 outline-none ring-sidebar-ring
        transition-[margin,opa] ease-linear focus-visible:ring-2 [&>svg]:size-4
        [&>svg]:shrink-0 group-data-[collapsible=icon]:-mt-8
        group-data-[collapsible=icon]:opacity-0
      "
    >
      <%= title %>

      <% if title_action.any? %>
        <%= link_to title_action[:url], class: "flex aspect-square w-5 items-center justify-center rounded-md p-0 ml-auto text-sidebar-foreground outline-none ring-sidebar-ring transition-transform hover:bg-sidebar-accent hover:text-sidebar-accent-foreground focus-visible:ring-2 [&>svg]:size-4 [&>svg]:shrink-0 after:absolute after:-inset-2 after:md:hidden" do %>
          <%= render_icon(title_action[:icon]) %>
          <span class="sr-only"><%= title_action[:title] %></span>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <% if menu.any? %>
    <ul class="flex w-full min-w-0 flex-col gap-1">
      <% menu.each do |item| %>
        <li class="group/menu-item relative">
          <%= sidebar_menu_item(
            title: item[:title],
            url: item[:url],
            icon: item[:icon],
            current: item[:active],
          ) %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
